<!DOCTYPE html>

<html>
<head>
	<title>Notes</title>
  <link rel="stylesheet" href="index.css">
	 <meta charset="UTF-8">
</head>

<body>

	<div id="main">


	  <div id="note" draggable="true" v-on:dragstart="drag">
	    <div class="header">
	      <input class="textbox" v-model="title"></input>
	      <span>{{ saveStatus }}</span>
	    </div>
	    <textarea class="content textbox" v-model="content" placeholder="Enter a note">

	    </textarea>
	  </div>
	</div>


	<script src="util.js"></script>
  <script src="vue.js"></script>
  <script src="app.js"></script>
</body>
</html>
