<!DOCTYPE html>

<html>
<head>
	<title>Notes</title>
  <link rel="stylesheet" href="/stylesheets/index.css">
	 <meta charset="UTF-8">
</head>

<body>

	<div id="main" @dragover.prevent @drop.prevent>
		<div id="toolbar">
			<div class="simple-flex">
				<button id="notemaker" class="pointer" @click="makeNote">+</button>
				<div v-for="folder in folders" @drop="addNote(folder)" class="existing folder pointer">
					<span @click="deleteFolder(folder)" class="closeX">&times;</span>
					<input v-model="folder.name"></input>
					<h2>{{ folder.contents.length }}</h2>
					<p>v</p>
				</div>
				<div class="new folder pointer vertical-flex" @click="makeFolder">
					<p>+</p>
				</div>
			</div>
			<div v-if="showProfileBox" class="profilebox">
				<p>You are not signed in.  Notes will be stored locally.</p>
				<p><a href="#">Sign in</a> or <a href="#">Sign up</a></p>
				<span @click="showProfileBox = false" class="closeX">&times;</span>
			</div>
		</div>
		<note-page
			v-for="(note, index) in notes"
			v-on:remove="notes.splice(index, 1)"
			v-on:pushdown="pushdown"
			:note="note">
		</note-page>
		<footer>
			<a href='https://github.com/bluegoo192/notelight'>github</a>
			<a href="#">about</a>
		</footer>
	</div>


</body>
</html>
