<!DOCTYPE html>

<html>
<head>
	<title>Notes</title>
  <link rel="stylesheet" href="/stylesheets/index.css">
	 <meta charset="UTF-8">
</head>

<body>

	<div id="main" @dragover.prevent @drop.prevent>
		<div id="toolbar">
			<button id="notemaker" @click="makeNote">+</button>
			<div class="profilebox">
				<p>You are not signed in.  Notes will be stored locally.</p>
				<p><a href="#">Sign in</a> or <a href="#">Sign up</a></p>
				<span class="closeX">&times;</span>
			</div>
		</div>
		<note-page
			v-for="(note, index) in notes"
			v-on:remove="notes.splice(index, 1)"
			v-on:pushdown="pushdown"
			:note="note">
		</note-page>
	</div>


</body>
</html>
