html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#main {
  height: 100%;
}

#toolbar {
  padding: 10px;
}
button#notemaker {
  padding: 0 0.37em 0.22em 0.37em;

  font-size: 3em;
  border: none;
  color: #fff;
  background-color: #484848;
} #notemaker:hover {
  background-color: #222;
}



.note {
  position: absolute;
  margin: 5px;
  padding: 20px 16px;
  background-color: #fff;
  display: inline-block;
  box-shadow: -8px 8px 10px #C5D1D9;
  position: absolute;
  border: 1px solid #A5AFB5;
}
.note .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.note .header input {
  margin: 0;
  background: none;
  font-size: 1.3em;
}
.note .content {
  background-color: #fff;
  margin-bottom: 20px;
  width: 95%;
}
.note .textbox {
  border: none;
  padding: 5px;
  border-bottom: 1px solid #4DA3FF;
  color: #5D6873;
}
.note .textbox:focus {
  background: #fff;
  box-shadow: 0px 0px 0px 2px #3A93F2;
  border: none;
}
.note .deleteButton {
  color: #3A93F2;
  font-size: 0.9em;
  background: none;
  border: none;
  display: block;
  padding: 10px;
  margin-left: auto;
  margin-right: 0;
} .note .deleteButton:hover {
  text-decoration: underline;
}
